# Git Ignore file.
#General build files
obj/*
bin/*
gen/*
libs/*
docs/html/*
fplbase_assets/*
assets/*
Makefile
fplbase.cbp
docs/linklint_results

# CMake files
CMakeCache.txt
CMakeFiles/*
CMakeLists.txt.user
Makefile
cmake_install.cmake
tests/CMakeFiles/*
tests/Makefile
tests/cmake_install.cmake
demo/CMakeFiles/*
demo/Makefile
demo/cmake_install.cmake
samples/CMakeFiles/*
samples/texture/CMakeFiles/*
samples/triangle/CMakeFiles/*

# Visual Studio files
*.opensdf
*.pdb
*.sdf
*.sln
*.suo
*.user
*.vcxproj
*.vcxproj.filters
Debug/
Win32/
build/
pingme.txt

# qt creator
*.cbp
