# Git Ignore file.
#General build files
obj/*
bin/flatc
bin/flathash
gen/*
Makefile
fplbase.cbp

# CMake files
CMakeCache.txt
CMakeFiles/*
CMakeLists.txt.user
Makefile
cmake_install.cmake
tests/CMakeFiles/*
tests/Makefile
tests/cmake_install.cmake
demo/CMakeFiles/*
demo/Makefile
demo/cmake_install.cmake

# Visual Studio files
*.opensdf
*.pdb
*.sdf
*.sln
*.suo
*.user
*.vcxproj
*.vcxproj.filters
Debug/
Win32/
build/
pingme.txt

# qt creator
*.cbp
